//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/home/soilworker/.local/share/rofi/themes/rounded-orange-dark.rasi"
//@theme "/home/soilworker/.local/share/rofi/themes/rounded-ubuntu-dark.rasi"
@theme "/home/soilworker/.local/share/rofi/themes/rounded-ubuntu-dark.rasi"
